
.navbar-fixed-top{
   /* background-color:rgba(255, 255, 255, 0.56);*/
    background-color: rgba(245, 245, 245, 0.47); ;
   -webkit-box-shadow: 0px 0.5px 5px 0px rgba(168,153,168,1);
-moz-box-shadow: 0px 0.5px 5px 0px rgba(168,153,168,1);
box-shadow: 0px 0.5px 5px 0px rgba(168,153,168,1);
border-bottom: 0px;
}

.navbar{
    
   border-bottom: 0;
    font-size: 18px;
}

/*.navbar-default .navbar-nav>li>a {
    color: #f5f5f5;
}*/

.navbar-brand{
    padding-top: 1pt;
    padding-bottom: 60px;
 }


.logo{
    width:320px ;
    margin-top: -6px;
}

.navbar-text{
    color: white;
    overflow: visible!important;
    color: white;
}

.menu{
    padding-top:5pt;

}

.inline{
    display: inline-flex;
   list-style-type: none;
}

.agrandar{
    padding: 0;
 }
.cambiar:hover{
    background:#127A97;
     -webkit-transform: scale(0.8);
   -ms-transform: scale(0.8);
    overflow: visible!important;
    color: white;

 }

.quienessomos{
    padding-top:9rem ;
    padding-bottom: 9rem;
    font-size: 16px;
    background-image: url("imagenes/fondo2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.transparente{
    background-color: rgba(0, 0, 0, 0.36);
}

.quienes{
    font-size:4rem;
}

.titulos{
    font-size: 3rem
}
 .boton{
    background:#127A97;
     -webkit-transform: scale(0.8);
   -ms-transform: scale(0.8);
    overflow: visible!important;
    color: white;

 }

.list-inline{
    padding-top: 10px;
    text-align: left;
}
	

.portada {
    width: 100%;
    max-height: 490px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.13);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.13);
}



.seguros{
    width: 40pt;

}

.info {
    text-align: center;
    font-size: 12px;
    height: 160pt;
    font-family: 'Open Sans', sans-serif;
      border:1px solid #dedede;
    -webkit-box-shadow:0 3px 16px 0 rgba(168,168,168,0.5));
    -moz-box-shadow: 0 3px 16px 0 rgba(168,168,168,0.5);
    box-shadow:0 3px 16px 0 rgba(168,168,168,0.5);
  }

.thumbnail>h2{
    margin-top: 0pt;
}

.espacio{
    padding-top: 12pt;

}


.gris{
    background-color: white;
    padding-top: 30pt;
    padding-bottom:30pt;
}

.fondo{
    background-color:#fbfbfb;
    color: #127A97;
    padding-bottom: 80px;
    padding-top: 45px;
     background-repeat: no-repeat;
    background-size: cover;
}

ul{list-style-type: none;}

iframe{
    margin-top: -60px;
}

.panel-footer{ 
    background-color: #022e3d;
    color: white; 
}



.simbolos{
    width: 10px;
    
}

h1,h2,h3,p,.letra{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;

}

.list{
    text-align: l;
}

.recuadro{
     border:1px solid #dedede;
    -webkit-box-shadow:0 3px 16px 0 rgba(168,168,168,0.5));
    -moz-box-shadow: 0 3px 16px 0 rgba(168,168,168,0.5);
    box-shadow:0 3px 16px 0 rgba(168,168,168,0.5);
  
}

@media (max-width: 450px) {

body {
    margin-top: 62px;}

.navbar {    background-color: rgb(244, 246, 247);}   
.logo{
    width:250px ;	
}
