

html{
	width: 100%;

}
	body{
		width:100%;
		position: relative;
	}



body {
	background-image: url("fondo.jpe");
	background-repeat: no-repeat;
	/*margin-top: 150pt;*/
}

h1{
margin-top: 150pt;
 margin-bottom: 100pt; 
 color: rgb(1,70,99);
}


.dropdown-menu{
	background-color:transparent;
	color: white;
	font-size: 2em;
}


p{
	font-size: 2em;
}


.esquina{
	margin-bottom: 0%;
}

form{
	
	font-size: 0.8em;
}

.oculto{
	display: none;
}


button{
	background-color:transparent;
}
a{
	color: white;
}

.btn-success{
	position: absolute;

}

@media (max-width: 991px) {
    .dropdown-menu{
	background-color:#0040ff;
	color: white;
	font-size: 1.2em;
	}
	html{
		background-color:#0040ff;
	}

       
    




/* media query para hacer que el 
contenido transparente de los botones
pasen a tener fondo en xs y sm
pegar esto en html: <link rel="stylesheet" media="(max-width: 800px)" href="example.css" />
*/